src/main/resources/wsdl/Intima21.wsdl

<definitions targetNamespace="crarj.cra21.com.br" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="crarj.cra21.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
   <types>
      <xsd:schema targetNamespace="crarj.cra21.com.br">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
      </xsd:schema>
   </types>
   <message name="RemessaRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="downloadImagem" type="xsd:string"/>
   </message>
   <message name="RemessaResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="RemessaPendenteRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="downloadImagem" type="xsd:string"/>
   </message>
   <message name="RemessaPendenteResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="ConfirmacaoRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="userDados" type="xsd:string"/>
   </message>
   <message name="ConfirmacaoResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="RetornoRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="userDados" type="xsd:string"/>
   </message>
   <message name="RetornoResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="DesistenciaRequest">
      <part name="userArq" type="xsd:string"/>
   </message>
   <message name="DesistenciaResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="CancelamentoRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="downloadImagem" type="xsd:string"/>
   </message>
   <message name="CancelamentoResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="AutorizacaoRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="downloadImagem" type="xsd:string"/>
   </message>
   <message name="AutorizacaoResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="BuscarApresentanteRequest"/>
   <message name="BuscarApresentanteResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="ImagemRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="userDados" type="xsd:string"/>
   </message>
   <message name="ImagemResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="ConsultaSlipRequest">
      <part name="protocolo" type="xsd:string"/>
      <part name="dataProtocolo" type="xsd:string"/>
   </message>
   <message name="ConsultaSlipResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="ConsultaAutorizacaoRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="protocolo" type="xsd:string"/>
      <part name="dataProtocolo" type="xsd:string"/>
      <part name="marcarBaixado" type="xsd:string"/>
   </message>
   <message name="ConsultaAutorizacaoResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="ConsultaImagemRequest">
      <part name="nossoNumero" type="xsd:string"/>
      <part name="numeroTitulo" type="xsd:string"/>
      <part name="documentoDevedor" type="xsd:string"/>
      <part name="saldoTitulo" type="xsd:string"/>
      <part name="vencimento" type="xsd:string"/>
      <part name="remessa" type="xsd:string"/>
   </message>
   <message name="ConsultaImagemResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="IntimacaoRequest">
      <part name="userArq" type="xsd:string"/>
      <part name="userDados" type="xsd:string"/>
   </message>
   <message name="IntimacaoResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="ConsultaIntimacaoRequest">
      <part name="userDados" type="xsd:string"/>
   </message>
   <message name="ConsultaIntimacaoResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <portType name="server.craPortType">
      <operation name="Remessa">
         <input message="tns:RemessaRequest"/>
         <output message="tns:RemessaResponse"/>
      </operation>
      <operation name="RemessaPendente">
         <input message="tns:RemessaPendenteRequest"/>
         <output message="tns:RemessaPendenteResponse"/>
      </operation>
      <operation name="Confirmacao">
         <input message="tns:ConfirmacaoRequest"/>
         <output message="tns:ConfirmacaoResponse"/>
      </operation>
      <operation name="Retorno">
         <input message="tns:RetornoRequest"/>
         <output message="tns:RetornoResponse"/>
      </operation>
      <operation name="Desistencia">
         <input message="tns:DesistenciaRequest"/>
         <output message="tns:DesistenciaResponse"/>
      </operation>
      <operation name="Cancelamento">
         <input message="tns:CancelamentoRequest"/>
         <output message="tns:CancelamentoResponse"/>
      </operation>
      <operation name="Autorizacao">
         <input message="tns:AutorizacaoRequest"/>
         <output message="tns:AutorizacaoResponse"/>
      </operation>
      <operation name="BuscarApresentante">
         <input message="tns:BuscarApresentanteRequest"/>
         <output message="tns:BuscarApresentanteResponse"/>
      </operation>
      <operation name="Imagem">
         <input message="tns:ImagemRequest"/>
         <output message="tns:ImagemResponse"/>
      </operation>
      <operation name="ConsultaSlip">
         <input message="tns:ConsultaSlipRequest"/>
         <output message="tns:ConsultaSlipResponse"/>
      </operation>
      <operation name="ConsultaAutorizacao">
         <input message="tns:ConsultaAutorizacaoRequest"/>
         <output message="tns:ConsultaAutorizacaoResponse"/>
      </operation>
      <operation name="ConsultaImagem">
         <input message="tns:ConsultaImagemRequest"/>
         <output message="tns:ConsultaImagemResponse"/>
      </operation>
      <operation name="Intimacao">
         <input message="tns:IntimacaoRequest"/>
         <output message="tns:IntimacaoResponse"/>
      </operation>
      <operation name="ConsultaIntimacao">
         <input message="tns:ConsultaIntimacaoRequest"/>
         <output message="tns:ConsultaIntimacaoResponse"/>
      </operation>
   </portType>
   <binding name="server.craBinding" type="tns:server.craPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Remessa">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Remessa" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="RemessaPendente">
         <soap:operation soapAction="urn:crarj.cra21.com.br#RemessaPendente" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Confirmacao">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Confirmacao" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Retorno">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Retorno" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Desistencia">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Desistencia" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Cancelamento">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Cancelamento" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Autorizacao">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Autorizacao" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="BuscarApresentante">
         <soap:operation soapAction="urn:crarj.cra21.com.br#BuscarApresentante" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Imagem">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Imagem" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="ConsultaSlip">
         <soap:operation soapAction="urn:crarj.cra21.com.br#ConsultaSlip" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="ConsultaAutorizacao">
         <soap:operation soapAction="urn:crarj.cra21.com.br#ConsultaAutorizacao" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="ConsultaImagem">
         <soap:operation soapAction="urn:crarj.cra21.com.br#ConsultaImagem" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Intimacao">
         <soap:operation soapAction="urn:crarj.cra21.com.br#Intimacao" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="ConsultaIntimacao">
         <soap:operation soapAction="urn:crarj.cra21.com.br#ConsultaIntimacao" style="rpc"/>
         <input>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:crarj.cra21.com.br" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="server.cra">
      <port name="server.craPort" binding="tns:server.craBinding">
         <soap:address location="http://crarj.cra21.com.br/crarj/xml/protestos_cartorio.php"/>
      </port>
   </service>
</definitions>